<?xml version="1.0"?>
<model>
  <name>turtlebot3_burger</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>ROBOTIS</name>
    <email>support@robotis.com</email>
  </author>
  <description>
    TurtleBot3 Burger with a simulated camera sensor for object detection.
  </description>
</model>
